@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@200;300;400&display=swap");

body {
  background: url(assets/pattern1.png);
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 600px;
}

.flex {
  display: flex;
  justify-content: center;
}

.form-inline > * {
  margin: 0 10px 0 10px;
}

p {
  font-family: "Poppins", sans-serif;
  color: #333333;
}

a {
  color: #e84a5f;
}

a:hover {
  color: inherit;
}

.doodle-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: auto;
  z-index: -1;
}

.demo-section {
  color: #333333;
}

.demo-section p {
  font-family: "Poppins", sans-serif;
}

.video-section {
  width: 100vw;
  /* height: 2000px; */
}

.acknowledgement {
  margin-bottom: 100px;
}

.acknowledgement p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #111111;
  line-height: 1.5em;
}

.acknowledgement h3 {
  font-family: "Abril Fatface", cursive;
  font-size: 1.5rem;
  color: #111111;
}

.video-row {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
}

.second-row {
  align-items: flex-start;
}

.tv-wrapper {
  position: relative;
  /* left: 10vw;
  top: 200px; */
  width: 800px;
  height: 800px;
  margin-left: 10vw;
  /* border: 1px solid tomato; */
}

#game-video {
  position: absolute;
  top: 220px;
  left: 21px;
}

#tv-svg {
  position: absolute;
  /* z-index: 2000; */
  width: 700px;
}

.mac-wrapper {
  position: relative;
  /* right: 10vw;
  top: -1200px; */
  width: 800px;
  height: 800px;
  margin-right: 10vw;
  /* border: 1px solid tomato; */
}

#data-video {
  position: absolute;
  top: 10px;
  left: 20px;
}

#mac-svg {
  position: absolute;
  width: 700px;
}

.first-para {
  background: rgba(255, 255, 255, 0.8);
  color: #333333;
  position: relative;
  /* left: calc(10vw + 800px);
  top: -600px; */
  width: calc(90vw - 800px);
  margin: auto 5vw;
  border-radius: 10px;
  padding: 10px;
  /* border: 1px solid tomato; */
}

.second-para {
  background: rgba(255, 255, 255, 0.8);
  color: #333333;
  position: relative;
  /* right: calc(10vw + 800px);
  top: -400px;  */
  width: calc(90vw - 800px);
  margin: 0 5vw;
  border-radius: 10px;
  padding: 10px;
  /* border: 1px solid tomato; */
}

.first-para span,
.second-para span {
  font-family: "Abril Fatface", cursive;
  font-size: calc(12px + 1vw);
  color: #333333;
}

.video-section p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: calc(5px + 1vw);
  color: #333333;
  line-height: 2em;
}

.demo-intro p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: calc(8px + 1vw);
  color: #444444;
  line-height: 1.5em;
}

.demo-section h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 3rem;
  color: #333333;
}

/* hide default play button  */
.vjs-big-play-button {
  visibility: hidden;
}

#tv-play-btn {
  position: absolute;
  top: 250px;
  left: 570px;
  background: hsl(184, 99%, 35%);
  background: radial-gradient(hsl(184, 99%, 35%), hsl(184, 99%, 25%));
  font-size: 1rem;
  color: #fff;
  border: solid 1px hsl(184, 99%, 35%);
  border-radius: 100%;
  height: 70px;
  width: 70px;
  z-index: 4;
  outline: none;
  box-shadow: inset 0 1px 0 hsl(184, 99%, 25%), -2px 2px 0 hsl(184, 99%, 23%),
    -3px 3px 0 hsl(184, 99%, 21%), -4px 4px 0 hsl(184, 99%, 19%),
    -5px 5px 0 hsl(184, 99%, 17%), -6px 6px 0 hsl(184, 99%, 15%),
    -7px 7px 0 hsl(184, 99%, 13%);
}

#tv-play-btn:hover {
  cursor: pointer;
  background: radial-gradient(hsl(184, 99%, 25%), hsl(184, 99%, 15%));
}

#tv-play-btn:active {
  background: radial-gradient(hsl(184, 99%, 25%), hsl(184, 99%, 15%));
  top: 252px;
  left: 568px;
  box-shadow: inset 0 1px 0 hsl(184, 99%, 25%), -2px 2px 0 hsl(184, 99%, 23%),
    -3px 3px 0 hsl(184, 99%, 21%), -4px 4px 0 hsl(184, 99%, 19%),
    -5px 5px 0 hsl(184, 99%, 17%);
}

#mac-play-btn {
  position: absolute;
  top: 425px;
  left: 322px;
  background: hsl(184, 99%, 35%);
  background: radial-gradient(hsl(184, 99%, 35%), hsl(184, 99%, 25%));
  font-size: 1rem;
  color: #fff;
  border: solid 1px hsl(184, 99%, 35%);
  border-radius: 100%;
  height: 45px;
  width: 45px;
  outline: none;
  box-shadow: inset 0 1px 0 hsl(184, 99%, 25%), 0 2px 0 hsl(184, 99%, 23%),
    0 3px 0 hsl(184, 99%, 21%), 0 4px 0 hsl(184, 99%, 19%),
    0 5px 0 hsl(184, 99%, 17%);
}

#mac-play-btn:hover {
  cursor: pointer;
  background: radial-gradient(hsl(184, 99%, 25%), hsl(184, 99%, 15%));
}

#mac-play-btn:active {
  background: radial-gradient(hsl(184, 99%, 25%), hsl(184, 99%, 15%));
  top: 427px;
  box-shadow: inset 0 1px 0 hsl(184, 99%, 25%), 0 2px 0 hsl(184, 99%, 23%),
    0 3px 0 hsl(184, 99%, 21%);
  outline: none;
}
